.mainContainer {
    width: 295px;
    height: 328px;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    @media screen and (max-width: 1550px) {
        height: 250px;
    }
}

.cardHeader {
    display: flex;
    padding: 20px 20px;
    border-bottom: 1px solid silver;
    align-items: center;
    @media screen and (max-width: 1550px) {
        padding: 11px 16px;
      }

    & div {
        display: flex;
        gap: 20px;
        @media screen and (max-width: 1550px) {
          img{
            height: 23px;
          }
          gap: 10px;
        }

        p {
            margin: 0;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            @media screen and (max-width: 1550px) {
                font-size: 12px;
              }
        }
    }

    justify-content: space-between;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        @media screen and (max-width: 1550px) {
            font-size: 12px;
          }
    }

    div {
        background: rgba(217, 228, 239, 1);
        padding: 25px;
        width: max-content;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        color: rgba(10, 102, 194, 1);
        border-radius: 5px;
        @media screen and (max-width: 1550px) {
            font-size: 20px;
            padding: 15px;
          }
    }
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border-top: 1px solid silver;
    font-family: Poppins;
    font-size: 12px;

    div {
        &:first-child {
            span {
                color: rgba(10, 102, 194, 1);
            }
        }
    }
}

.threeDotMore{
  height: 13px;
}